<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Brewwy</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/lightbox.css" />
</head>

<body>


<div id="banner-background">
    <div id="banner">
        <a href="{% url home %}" class="logo"></a>

        <ul id="nav">
            <li><a href="">Los Angeles&#187;</a></li>
            <li class="selected"><a href="../html/venue.html">Experiences</a></li>
        </ul>
        <a href="{% url register %}" class="sign-up">
            Sign-Up
        </a>
        <a href="{% url login %}" class="login">
            Login
        </a>

    </div>
</div>

{% block content %}
        <p>Basic Template Content.</p>
{% endblock %}


<div class="footer-wrapper">
    <div class="footer">
        <ul>
            <li>&copy; 2012 Brewwy, Inc.</li>
            <li>About Us</li>
            <li>Privacy</li>
            <li>Terms of Use</li>
        </ul>
    </div>
</div>




</body >

</html >
