{% extends 'html/base.html' %}

{% block content %}
    <p>The static url is {{ STATIC_URL }}</p>
    <ul>
    {% for deal in deallist10 %}
        <li>{{ deal.venue }}</li>
    {% endfor %}
    </ul>
{% endblock %}