{% extends 'html/base.html' %}

{% block content %}

    {% if errors %}
        <div class="registered-box">
            <ul style="color:red";>
            {% for error in errors %}
                <li>*{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="login-container">
        <div id="stylized" class="myform">
            <form id="form" name="form" method="post" action="{% url login %}">{% csrf_token %}
                <h1>Login</h1>
                <p style="margin-left: 20px; margin-bottom: 15px;">Not signed up? <a href="{% url register %}" style="color: #21bbff;">Register here.</a></p>
                <h2>Email</h2>
                <input type="text" name="email" id="email" />

                <h2>Password</h2>
                <input type="password" name="password" id="password" />

                <p><a href="" style="color: #21bbff; margin-left: 20px; margin-bottom: 30px; text-decoration: none;">Forgot your password?</a></p>
                <button type="submit" style="margin-top:20px">Login</button>

                <div class="spacer"></div>

            </form>
        </div>
    </div>


{% endblock %}