{% extends 'html/base.html' %}

{% block content %}

<div class="registered-box">
    <p>Thank you for registering with Brewwy! A confirmation email has been sent to the email you entered. Click the link in that email to fully activate your account. </p>
    <p><a href="{% url login %}" style="text-decoration:none; color:#27a3dd;">Login here</a></p>
</div>

{% endblock %}