{% extends 'html/base.html' %}

{% block content %}

    {% if errors %}
        <div class="registered-box">
        <ul style="color:red";>
            {% for error in errors %}
                <li>*{{ error }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}

    <div class="login-container">
        <div id="stylized" class="myform">
            <form id="form" name="form" method="post" action="{% url register %}">{% csrf_token %}
                <h1>Register</h1>
                <p style="margin-left: 20px; margin-bottom: 15px;">Already signed up? <a href="{% url login %}" style="color: #21bbff;">Login here.</a></p>

                <h2>Full Name*</h2>
                <input type="text" name="name" id="name" value="{{ name }}"/>

                <h2>Email*</h2>
                <input type="text" name="email" id="email" value="{{ email }}"/>

                <h2>Password*</h2>
                <input type="password" name="password" id="password" value=""/>

                <h2>Confirm Password*</h2>
                <input type="password" name="password_confirm" id="password" value=""/>

                <h2>Select Your Location*</h2>
                <div class="location-selector">
                    <select name="location">
                        <option value="loc" selected="selected">Select your location</option>
                        <option value="beverly-hills">Greater Los Angeles</option>
                        <option value="beverly-hills">Hollywood</option>
                        <option value="santa-monica">Santa Monica</option>
                        <option value="westwood">Westwood</option>
                    </select>
                </div>

                <p style="margin-left: 20px; margin-bottom: 15px; width: 400px; margin-top: 30px;">By clicking the button below, you agree to Brewwy's <a href="" style="text-decoration: none; color: #27a3dd;">Terms of Service</a> and <a href="" style="text-decoration: none; color: #27a3dd;">Privacy Policy</a>.</p>

                <button type="submit" style="margin-top: 30px;" value="Submit">Register</button>

                <div class="spacer"></div>

            </form>
        </div>
    </div>


{% endblock %}