{% extends "html/base.html" %}
{% block content %}
<div class="venue-main-wrapper">
    <div class="venue-main-pic">
    </div>
    <div class="venue-info-wrapper">
        <div class="v-info-left">
            <p class="v-venue-title">Lorem Ipsum</p>
            <p class="v-venue-loc">Westwood &#187; Bar</p>
			<span>
				<a href="" class="v-share">share</a>
				<a href="" class="v-share">facebook</a>
				<a href="" class="v-share">yelp</a>
			</span>
        </div>
        <div class="v-info-right">
            <p class="v-venue-address">1234 Fake St.</p>
            <p class="v-venue-address">Los Angeles, CA 90024</p>
            <p class="v-venue-num">(310) 555-1234</p>
            <p class="v-venue-url">www.fakeurl.com</p>
        </div>
    </div>
</div>

<div class="v-main-content">
    <div class="v-content-left">

        <!-- Deal -->
        <div class="deal-right">
            <div class="deal-title"
            <h1 class="deal-name"> Long Island Iced Tea</h1>
        </div>
        <hr/>
        <div class="deal-pic">
        </div>
        <div class="claim-deal">
            <p class="original-price"> Original Price:<span>$10</span></p>
            <p class="price-off"> $3 OFF</p>

            <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" class="claim-button"></a>


            <div id="light" class="white_content">


                <div class="lb-venue-title-left">
                    <p class="lb-venue">Lorem Ipsum</p>
                    <p class="lb-deal">Long Island Iced Tea</p>
                </div>

                <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" class="lb-close">x</a>
                <div class="lb-venue-title-right">

                    <p class="lb-price">$3 OFF</p>

                </div>
                <div class="clear" ></div>


                <hr/>

                <div class="lb-main">
                    <div class="lb-main-left">
                        <img class="divider-line" src="../images/home/divider-line.png" />
                    </div>

                    <div class="lb-main-right">
                        <div>
                            <a href="" class="lb-map-button">map/details</a>
                            <a href="" class="lb-fineprint-button">fine print</a>
                        </div>
                        <div class="clear" ></div>
                        <div>
                            <p class="lb-original-price">Original Price: $10</p>
                            <p class="lb-location">westwood</p>
                            <div class="clear" ></div>
                            <p class="lb-street">1234 Fake St.</p>
                            <p class="lb-city">Los Angeles, CA 90024</p>
                            <a href="" class="lb-viewmap">view map</a>
                        </div>
                    </div>

                    <div class="clear" ></div>
                </div>

                <hr/>

                <div class="claim-bar">
                    <a href="" class="lb-claim"></a>
                </div>
            </div>

            <div id="fade" class="black_overlay"></div>
        </div>
    </div>
    <div class="clear"></div>
    <hr/>
    <!-- Description -->

    <p class="v-description"><span style="font-size: 24px; font-weight:bold;">Description:</span>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non enim a justo egestas tempus non sed nunc. Nullam laoreet commodo est, sed semper mi faucibus in. Aliquam justo ante, auctor quis condimentum eget, laoreet non est. Vestibulum et nisl purus, sit amet tempor tellus. Fusce vitae dolor magna. Cras est magna, mattis sed fermentum nec, aliquet vel quam. Maecenas sed metus urna, ut placerat sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

    <p class="v-description">
        Phasellus posuere consequat adipiscing. Nulla ultrices turpis in massa accumsan fringilla. Praesent a magna mi, rutrum venenatis nulla. Praesent dui est, scelerisque eu tempus in, auctor sit amet justo. Aliquam erat volutpat. Vivamus nunc libero, faucibus vitae pellentesque vel, imperdiet vitae dui. Praesent gravida vulputate interdum. Cras laoreet, dui sed hendrerit dictum, urna nulla posuere neque, sit amet luctus augue arcu vitae risus.
    </p>
</div>

<div class="v-content-right">
    <img class="pic1" src="../images/venue/venue-pic1.png" />
    <img class="pic2" src="../images/venue/venue-pic1.png" />
    <img class="pic1" src="../images/venue/venue-pic1.png" />
    <img class="pic2" src="../images/venue/venue-pic1.png" />
    <img class="pic1" src="../images/venue/venue-pic1.png" />
    <img class="pic2" src="../images/venue/venue-pic1.png" />
</div>
</div>

</div>
{% endblock %}