/*lightbox*/

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
.white_content {
	display: none;
	position: fixed;
	top: 5%;
	left: 20%;
	padding: 10px;
	border: 5px solid #858585;
	background-color: #FFFFFF;
	z-index:1002;
	overflow: auto;
	width: 60%;
	border-radius: 5px;
}

.lb-venue-title-left{
	float: left;
}

.lb-venue{
	font-size: 24px;
	font-weight: bold;
	margin-left: 10px;
}

.lb-deal{
	font-size: 18px;
	font-style: italic;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
}
.lb-venue-title-right{
	float: right;	
	margin-left: 50px;
	
}

.lb-price{
	font-size: 36px;
	font-weight: bold;
	background-color: #21bbff;
	color: #373737;
	margin-top: 3px;
	margin-right: 30px;
	padding: 5px;
	border-radius: 5px;
}

.lb-main-left{
	height: 200px;
	width: 200px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;	
	margin-bottom: 30px;
}


.lb-deal-pic {
	float: left;
	background-color: blue;
}
.divider-line{
	background-color: blue;
	margin-left: 220px;
}

.lb-main-right{
	width: 458px;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}

.lb-map-button{
	margin-left: 20px;
	color: #ffffff;
	background-color: #3c3c3c;
	float: left;
	padding: 5px;
	text-decoration: none;
}

.lb-map-button:hover{
	color: #21bbff;
}

.lb-fineprint-button{
	margin-left: 5px;
	color: #ffffff;
	background-color: #3c3c3c;
	padding: 5px;
	float: left;
	text-decoration: none;
}

.lb-fineprint-button:hover{
	color: #21bbff;
}

.lb-original-price{
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
	margin-left: 20px;
	color: #5a5a5a;
}

.lb-location{
	padding: 5px;
	font-style: italic;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 10px;
	background-color: yellow;
	float: left;
	font-weight: bold;
}

.lb-street{
	margin-left: 20px;
	margin-top: 5px;
	font-size: 14px;
}

.lb-city{
	margin-left: 20px;
	margin-top: 5px;
	font-size: 14px;
	margin-bottom: 20px;
}

.lb-viewmap{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 14px;
	font-style: italic;
	text-decoration: underline;
	color: black;
}

.claim-bar{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
.lb-claim{
	width: 321px;
	height: 154px;
	background-image: url(../images/home/lb-claim-2.png);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.lb-claim:hover{
	width: 200px;
	height: 70px;
	background-image: url(../images/home/lb-claim-hover.png);
}

.lb-close{
	float: right;
	text-decoration: none;
	color: white;
	background-color: black;
	margin-top: -5px;
	margin-right: -5px;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius:10px;
	padding-top: 2px;
}

.lb-close:hover{
	background-color: #656565;
}
