html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    margin: 0 0;
    padding: 0 0;
	background: url("../images/home/main-bg.png") repeat;
	font-family: "Arial", Helvetica Neue, Helvetica, Geneva, sans-serif;
}
/* Home CSS */

/*
#banner-background {
	background-image: url("../images/home/banner-bg.png");
	background-repeat: repeat-x;
	height: 53px;
	width: 100%;
}
*/

#banner-background {
	height: 53px;
	width: 100%;
	background-color: #141414;
}


#banner {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.logo {
	background-image: url("../images/home/brewwy-logo.png");
	float: left;	
	height: 29px;
	width: 118px;
	margin-top: 11px;
	background-repeat: no-repeat;
}

#home-bg{
	border-bottom: solid;
	border-color: #00ccff;
	
}

#nav{
	float: left;
	height: 53px;
	margin-left: 20px;
	list-style: none;
	margin-top: 0px;
}

#nav li{
	float: left;
	margin-right: 0px;
}
#nav li a{
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
}

#nav li a:hover{
	color: #21bbff;
}

.selected{
	background-color: #484848;
}

.login{
	float: right;
	margin-top: 18px;
	color: #dfdfdf;
	text-decoration: none;
}

.sign-up{
	float: right;
	margin-top: 18px;
	color: #dfdfdf;
	text-decoration: none;
	margin-left: 30px;
}



/*menu bar*/
div.clear {
	clear:both;
}
#filter-bar {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width:950px;
}
#col1 {
	float: left;
	width:17px;
}
#col2 {
	float: left;
	width:916px;
	height: 34px;
	background: url(../images/home/filter-bg.png) repeat-x;
}

#col3 {

	float: right;
	width:17px;
}

div.clear {
	clear:both;
}





.tint {
	position: relative;
	float: left;
	cursor: pointer;
	width: 465px;
	height: 230px;
}

.tint:before {
	background: none;
}

.tint:hover:before {
	margin-top: 0px;
	margin-bottom: 0px;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-ms-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
	background-color: rgba(0, 0, 0, .6);
}

.deal-bar{
	margin-left: auto;
	margin-right:  auto;
	width: 950px;
	margin-top: 30px;
	background-color: #fffffd;
	border: 10px solid #fffffd;
	box-shadow: 0px 0px 6px #888888;
	border-radius: 5px;
}


.deal-left{
	width: 465px;
	height: 230px;
	float: left;
	border-radius: 5px;
}

.venue-title{
	width: 100%;
	background-color: #313131;
	opacity: 0.9;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px 5px 0px 0px;
	height: 20px;
}

.venue-name{
	float:  left;
	color: #00a8ff;
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
}

.venue-city{
	text-align: right;
	font-style: italic;
	color: #ffffff;
	font-size: 18px;
	margin-right: 10px;
}

.venue-pic-left{
	margin-top: -40px;
	border-radius: 5px;
}

.deal-right{
	height: 230px;
	width: 465px;
	float: right;
}

.deal-title{
	padding-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
}

.deal-name{
	float: left;
	color: #545454;
	font-size: 18px;

}
hr{
	border: 1px solid #a0a0a0;
	margin: 0 0;
}
.deal-pic{
	float:  left;
	height: 148px;
	width: 148px;
	border: 1px solid #b4b4b4;
	margin-top: 20px;
	padding: 0 0;
	border-radius: 5px;
}

.claim-deal{
	float: right;
	width: 315px;
	margin-top: 20px;
}

.original-price{
	text-align: center;
	font-size: 14px;
	font-style: italic;
	color: #bbbbbb;
	margin-top: 7px;
}

.price-off{
	text-align: center;
	font-size: 24px;
	color: #00a8ff;
	margin-top: 10px;
	font-weight: bold;
}

.claim-button {
	background: url(../images/home/claim-button.png) no-repeat;
	display: block;
	height: 78px;
	width: 161px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}

.claim-button:hover{
	background: url(../images/home/claim-button-hover.png);
}
/*-------------------filter bar code-------------------------*/

#filter{
	margin-top: 12px;
	float: left;
	color: white;
	margin-left: 20px	;
	
}

#filter-bar{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	background: #555;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0px 1px 2px #888888;
}

#all-loc{
	margin-left: 325px;
}


/*---- CROSS BROWSER DROPDOWN MENU ----*/
ul#nav1 {margin: 0 0 0; height: 40px; font-size: 14px;}
ul#nav1.drop a { display:block; color: #fff; font-family: Arial; font-size: 14px; text-decoration: none;}
ul#nav1.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; color: #fff;}
ul#nav1.drop { position: relative; z-index: 597; float: left; }
ul#nav1.drop li { float: left; line-height: 30px; vertical-align: middle; zoom: 1; padding: 5px 20px; }
ul#nav1.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #299bcd; border-radius: 5px; }
ul#nav1.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px; background: #555; border-radius: 0px 0px 5px 5px; box-shadow: 0px 3px 6px #888888;
}
ul#nav1.drop ul li { float: none; }
ul#nav1.drop ul ul { top: -2px; left: 100%; }
ul#nav1.drop li:hover > ul { visibility: visible }

/*-------------------end filter bar code---------------------*/








/*---- Account Menu ----*/
ul#nav2 {margin: 0 0 0; height: 53px; font-size: 14px;}
ul#nav2.drop a { display:block; color: #fff; font-size: 14px; text-decoration: none;}
ul#nav2.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; color: #fff;}
ul#nav2.drop { position: relative; z-index: 597; float: left; }
ul#nav2.drop li { float: left; line-height: 40px; vertical-align: middle; zoom: 1; padding: 5px 20px; }
ul#nav2.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background-color: #299bcd;
border-radius: 0px 0px 0px 0px;}

ul#nav2.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px; background: #141414; border-radius: 0px 0px 0px 0px; box-shadow: 0px 3px 6px #888888;
}
ul#nav2.drop ul li { float: none; }
ul#nav2.drop ul ul { top: -2px; left: 100%; }
ul#nav2.drop li:hover > ul { visibility: visible }

#logged-in{
	float: right;
}
/*-------------------end account menu code---------------------*/


/*Venue Page*/

.venue-main-wrapper{
	width: 100%;
	background-color: #1f1f1f;
	padding-top: 30px;
	margin-top: -3px;
	height: 548px;
}

.venue-main-pic{
	background: url(../images/venue/featured-venue.png) no-repeat;
	width: 958px;
	height: 408px;
	margin-left: auto;
	margin-right: auto;
}

.venue-info-wrapper{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	height: 100%;
}

.v-info-left{
	width: 450px;
	float: left;
	margin-top: 20px;
}

.v-venue-title{
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;

}

.v-venue-loc{
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.v-share{
	color: #adadad;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 20px;
	text-decoration: none;
}

.v-share:hover{
	color: #FFFFFF;
	
}

.v-info-right{
	float: right;
	margin-top: 20px;
}

.v-venue-address{
	font-size: 12px;
	color: #adadad;
	font-weight: bold;
	text-align: right;
	margin-bottom: 5px;
}

.v-venue-num{
	margin-top: 20px;
	font-size: 12px;
	color: #adadad;
	font-weight: bold;
	text-align: right;
}

.v-venue-url{
	margin-top: 5px;
	font-size: 12px;
	color: #adadad;
	font-weight: bold;
	text-align: right;
}

.v-main-content{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.v-content-left{
	margin-top: 20px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 465px;
}

.v-description{
	font-size: 14px;
	margin-top: 10px;
}

.v-content-right{
	margin-top: 20px;
	float: right;
	margin-left: auto;
	margin-right: auto;
	width: 448px;
	background: url(../images/venue/divider-line.png) repeat-y;
}

.pic1{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 38px;
}

.pic2{
	float: right;
	margin-bottom: 10px;
}

/*login page*/

.login-container{
	margin-top: 50px;
	width: 475px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
}

.login-left-col{
	float: left;
	margin-top: 30px;
	background-color: #FFFFFF;
}

.myform{
	width:475px;
	padding:14px;
	margin: 0 auto;
}

.registered-box{
	margin-top: 50px;
	width: 435px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #b9b9b9;
	line-height: 25px;
	padding: 20px;
	border-radius: 5px;
}

/* ----------- Login ----------- */

#stylized h1 {
	font-size:32px;
	font-weight:bold;
	margin-bottom:20px;
	color: #21bbff;
	margin-top: 10px;
	margin-left: 20px;
}

#stylized label{
	font-size: 24px;
	display:block;
	text-align:left;
	width:300px;
	margin-top: 8px;
	margin-left: 20px;
	margin-bottom: 10px;
	
}

#stylized h2{
	font-size: 24px;
	display:block;
	text-align:left;
	width:300px;
	margin-top: 8px;
	margin-left: 20px;
	margin-bottom: 10px;
	
}

#stylized input{
	float:left;
	font-size: 24px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width: 400px;
	margin-left: 20px;
	height: 30px;
	color: #565656;
	margin-bottom: 20px;

}

#stylized button{
	clear:both;
	margin-left:20px;
	width:150px;
	height:50px;
	line-height: 20px;
	color:#FFFFFF;
	font-size: 24px;
	font-weight: bold;
	background:  url(../images/home/login-button.png);
	border-style: none;
	margin-bottom: 15px;
	margin-top: 10px;
}

.location-selector select{
	margin-left: 20px;
	width: 406px;
	display: block;
	font-size: 20px;
	background-color: #ffffff;
	border: 1px solid #8fb0cb;
	height: 40px;
}

/* Footer */

.footer-wrapper{
	background-color: #141414;
	box-shadow: 0px 0px 6px #888888;
	
}

.footer{
	width: 950px;
	height: 70px;
	margin: 0 auto;
	list-style: none;
}

.footer ul{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
	
}

.footer li
{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 40px;
	line-height: 70px;
	color: #dfdfdf;
	font-size: 14px;
}